openapi: 3.2.0
info:
  title: Centrexion Therapeutics Content People API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind centrexion.com.
  description: The read-only content surface Centrexion Therapeutics exposes at https://centrexion.com/wp-json. Centrexion is a late clinical-stage biopharmaceutical company in Boston, Massachusetts developing non-opioid, non-addictive therapies for chronic pain — led by CNTX-4975, a synthetic trans-capsaicin injected intra-articularly that reversibly deactivates TRPV1-expressing pain fibers — alongside an emerging immunology and inflammation portfolio. It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-09. Write operations, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-locations`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/block-types`, `/wp/v2/font-collections`, `/wp/v2/icons`, `/wp/v2/sidebars`, `/wp/v2/widget-types`, the pattern-directory routes, the `wp-abilities/v1` namespace and the whole plugin-administration surface all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Centrexion Therapeutics
    url: https://centrexion.com/
    email: info@centrexion.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://centrexion.com/wp-json/ (320 routes across 10 namespaces) and verified against live anonymous responses on 2026-08-09. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Centrexion publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The 14 staff biographies the site publishes are a WordPress custom post type that is NOT registered for REST — it does not appear in /wp/v2/types and has no route — so it is reachable only as HTML and is not modelled here. The deployment is served by nginx on WP Engine, responses carry `x-robots-tag: noindex` and are edge-cached (`x-cacheable: SHORT`, `cache-control: max-age=600`). Nothing here was obtained with credentials.'
servers:
- url: https://centrexion.com/wp-json
  description: Production content API
tags:
- name: people
  description: Author records. Anonymously readable on this deployment. Contains personal data — see the operation description; deliberately excluded from the generated Agent Skills.
paths:
  /wp/v2/users:
    get:
      tags:
      - people
      operationId: listUsers
      summary: List public author records
      description: 'Lists users who have authored published content. This deployment returns 2 records anonymously (`X-WP-Total: 2`), each carrying `name`, `slug`, `description`, `url`, `link` and `avatar_urls` — WordPress does not expose user email addresses on this route. This is the default WordPress behaviour rather than a Centrexion configuration choice, but it is personal data about identifiable people, so API Evangelist records the endpoint''s existence and shape and deliberately does NOT reproduce any individual record, and does not package it as an Agent Skill. See skills/_index.yml for the recorded exclusion.'
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/TermSlug'
      responses:
        '200':
          description: A collection of author records
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
                examples:
                - 2
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set. Values above 100 return 400 rest_invalid_param.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    TermSlug:
      name: slug
      in: query
      description: Limit result set to terms or users with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    User:
      type: object
      description: A public author record. Personal data — API Evangelist documents the shape but reproduces no individual record. WordPress does not expose email addresses on this route.
      properties:
        id:
          type: integer
        name:
          type: string
          description: Display name for the user. Personal data.
        slug:
          type: string
          description: Alphanumeric identifier
          derived from the display name. Personal data.: null
        description:
          type: string
          description: Author biography.
        url:
          type: string
          format: uri
        link:
          type: string
          format: uri
          description: Author archive URL.
        avatar_urls:
          type: object
          description: Avatar URLs keyed by size.
        meta:
          type: object
        _links:
          type: object
