openapi: 3.2.0
info:
  title: Centrexion Therapeutics Content Comments API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind centrexion.com.
  description: The read-only content surface Centrexion Therapeutics exposes at https://centrexion.com/wp-json. Centrexion is a late clinical-stage biopharmaceutical company in Boston, Massachusetts developing non-opioid, non-addictive therapies for chronic pain — led by CNTX-4975, a synthetic trans-capsaicin injected intra-articularly that reversibly deactivates TRPV1-expressing pain fibers — alongside an emerging immunology and inflammation portfolio. It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-09. Write operations, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-locations`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/block-types`, `/wp/v2/font-collections`, `/wp/v2/icons`, `/wp/v2/sidebars`, `/wp/v2/widget-types`, the pattern-directory routes, the `wp-abilities/v1` namespace and the whole plugin-administration surface all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Centrexion Therapeutics
    url: https://centrexion.com/
    email: info@centrexion.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://centrexion.com/wp-json/ (320 routes across 10 namespaces) and verified against live anonymous responses on 2026-08-09. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Centrexion publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The 14 staff biographies the site publishes are a WordPress custom post type that is NOT registered for REST — it does not appear in /wp/v2/types and has no route — so it is reachable only as HTML and is not modelled here. The deployment is served by nginx on WP Engine, responses carry `x-robots-tag: noindex` and are edge-cached (`x-cacheable: SHORT`, `cache-control: max-age=600`). Nothing here was obtained with credentials.'
servers:
- url: https://centrexion.com/wp-json
  description: Production content API
tags:
- name: comments
  description: Comment collection — one item, the default WordPress sample comment on the placeholder post.
paths:
  /wp/v2/comments:
    get:
      tags:
      - comments
      operationId: listComments
      summary: List comments
      description: Lists approved comments. One item exists on this deployment — the default WordPress sample comment attached to the placeholder post. Comment objects carry `author_name`, `author_url` and `author_avatar_urls`, so this collection is personal data even when the single record is boilerplate.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - name: post
        in: query
        description: Limit result set to comments assigned to specific post IDs.
        schema:
          type: array
          items:
            type: integer
      - name: parent
        in: query
        description: Limit result set to comments of specific parent IDs.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: A collection of comments
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
                examples:
                - 1
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/comments/{id}:
    get:
      tags:
      - comments
      operationId: getComment
      summary: Get a single comment
      description: Retrieves one comment by numeric ID.
      parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          $ref: '#/components/responses/CommentNotFound'
components:
  schemas:
    RenderedText:
      type: object
      description: WordPress rendered-text object.
      properties:
        rendered:
          type: string
          description: HTML for the object
          transformed for display.: null
        protected:
          type: boolean
          description: Whether the content is protected with a password.
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_post_invalid_id
        message:
          type: string
          description: Human-readable error message.
          examples:
          - Invalid post ID.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
              examples:
              - 404
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties:
                type: string
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties:
                type: object
    Comment:
      type: object
      description: A comment. Carries commenter-supplied personal data (`author_name`, `author_url`, `author_avatar_urls`).
      properties:
        id:
          type: integer
        post:
          type: integer
          description: The ID of the associated post.
        parent:
          type: integer
        author:
          type: integer
          description: The ID of the user object
          if author was a user.: null
        author_name:
          type: string
          description: Display name for the comment author. Personal data.
        author_url:
          type: string
          format: uri
          description: URL for the comment author. Personal data.
        author_avatar_urls:
          type: object
          description: Avatar URLs keyed by size. Personal data.
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        content:
          $ref: '#/components/schemas/RenderedText'
        link:
          type: string
          format: uri
        status:
          type: string
          examples:
          - approved
        type:
          type: string
          examples:
          - comment
        meta:
          type: object
        _links:
          type: object
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set. Values above 100 return 400 rest_invalid_param.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
  responses:
    CommentNotFound:
      description: Invalid comment ID — code `rest_comment_invalid_id`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid parameter — code `rest_invalid_param`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
