openapi: 3.1.0
info:
  title: Centrexion Therapeutics Content API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind centrexion.com.
  description: >-
    The read-only content surface Centrexion Therapeutics exposes at https://centrexion.com/wp-json.
    Centrexion is a late clinical-stage biopharmaceutical company in Boston, Massachusetts developing
    non-opioid, non-addictive therapies for chronic pain — led by CNTX-4975, a synthetic
    trans-capsaicin injected intra-articularly that reversibly deactivates TRPV1-expressing pain
    fibers — alongside an emerging immunology and inflammation portfolio. It runs no developer
    program and markets no product API. This document is an API Evangelist derivation of the
    WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to
    the operations that were verified to return data anonymously on 2026-08-09. Write operations,
    `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-locations`, `/wp/v2/themes`, `/wp/v2/plugins`,
    `/wp/v2/block-types`, `/wp/v2/font-collections`, `/wp/v2/icons`, `/wp/v2/sidebars`,
    `/wp/v2/widget-types`, the pattern-directory routes, the `wp-abilities/v1` namespace and the
    whole plugin-administration surface all require authentication and are deliberately excluded —
    see x-api-evangelist-provenance.
  contact:
    name: Centrexion Therapeutics
    url: https://centrexion.com/
    email: info@centrexion.com
  x-api-evangelist-provenance: >-
    Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at
    https://centrexion.com/wp-json/ (320 routes across 10 namespaces) and verified against live
    anonymous responses on 2026-08-09. Every parameter below appears verbatim in the route index
    `args` for that endpoint, and every collection count in a description was read from the
    `X-WP-Total` response header on that date. Centrexion publishes no OpenAPI, no developer
    documentation and no API reference for this surface; the humanURL in apis.yml points at the
    upstream WordPress REST handbook that defines the wp/v2 contract. The 14 staff biographies the
    site publishes are a WordPress custom post type that is NOT registered for REST — it does not
    appear in /wp/v2/types and has no route — so it is reachable only as HTML and is not modelled
    here. The deployment is served by nginx on WP Engine, responses carry `x-robots-tag: noindex`
    and are edge-cached (`x-cacheable: SHORT`, `cache-control: max-age=600`). Nothing here was
    obtained with credentials.
servers:
  - url: https://centrexion.com/wp-json
    description: Production content API
tags:
  - name: posts
    description: >-
      The blog/post collection. On this deployment it holds exactly one item — the stock WordPress
      "Hello world!" placeholder from 2025-07-25. Centrexion publishes no news or press-release
      archive through REST.
  - name: pages
    description: Corporate pages (6 published at harvest time — Home, Team, Pipeline, Contact, Privacy Policy, Terms of Use).
  - name: media
    description: Media library. `X-WP-Total` reports 43 attachments; anonymous enumeration returns fewer (see the listMedia description).
  - name: taxonomy
    description: >-
      Categories, tags and the post_series taxonomy. Only the default `Uncategorized` category
      exists; `post_tag` and `post_series` are registered but empty.
  - name: custom-types
    description: >-
      Theme custom post types (`wpex_templates` Dynamic Templates, `wpex_card` Custom Cards).
      Registered and anonymously reachable, but both report zero published items.
  - name: comments
    description: Comment collection — one item, the default WordPress sample comment on the placeholder post.
  - name: search
    description: Cross-content search across published objects (7 searchable objects at harvest time).
  - name: discovery
    description: Route, type, taxonomy and status discovery documents.
  - name: people
    description: >-
      Author records. Anonymously readable on this deployment. Contains personal data — see the
      operation description; deliberately excluded from the generated Agent Skills.
  - name: oembed
    description: oEmbed 1.0 provider endpoint for centrexion.com URLs.
paths:
  /:
    get:
      tags: [discovery]
      operationId: getApiIndex
      summary: Get the REST API index
      description: >-
        Returns the site index — name, description, URL, home, the registered namespaces, the
        authentication methods, the site logo and icon, and the full 320-entry route table.
      parameters:
        - $ref: '#/components/parameters/Context'
        - name: namespace
          in: query
          description: Restrict the response to a single namespace.
          schema:
            type: string
            examples: ['wp/v2']
      responses:
        '200':
          description: Site index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'

  /wp/v2/posts:
    get:
      tags: [posts]
      operationId: listPosts
      summary: List posts
      description: >-
        Lists published posts. On this deployment the collection contains a single item — the stock
        WordPress "Hello world!" placeholder created 2025-07-25 and never removed. Centrexion runs
        no news archive on this surface. Paginated; `X-WP-Total` and `X-WP-TotalPages` are exposed
        via `Access-Control-Expose-Headers`. Anonymously, `status` may only be `publish`.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SearchColumns'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Status'
        - name: orderby
          in: query
          description: Sort collection by object attribute.
          schema:
            type: string
            enum: [author, date, id, include, modified, parent, relevance, slug, include_slugs, title]
            default: date
        - name: author
          in: query
          description: Limit result set to posts assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: author_exclude
          in: query
          description: Ensure result set excludes posts assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: categories
          in: query
          description: Limit result set to items with specific category terms.
          schema: { type: array, items: { type: integer } }
        - name: categories_exclude
          in: query
          description: Limit result set to items except those with specific category terms.
          schema: { type: array, items: { type: integer } }
        - name: tags
          in: query
          description: Limit result set to items with specific tag terms.
          schema: { type: array, items: { type: integer } }
        - name: tags_exclude
          in: query
          description: Limit result set to items except those with specific tag terms.
          schema: { type: array, items: { type: integer } }
        - name: sticky
          in: query
          description: Limit result set to items that are sticky.
          schema: { type: boolean }
      responses:
        '200':
          description: A collection of posts
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [1] }
            X-WP-TotalPages:
              description: Total number of pages available.
              schema: { type: integer, examples: [1] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Post' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/posts/{id}:
    get:
      tags: [posts]
      operationId: getPost
      summary: Get a single post
      description: Retrieves one post by numeric ID.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Post' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/pages:
    get:
      tags: [pages]
      operationId: listPages
      summary: List corporate pages
      description: >-
        Lists published pages. On this deployment the collection is the whole public site — 6 pages:
        Home (id 15), Team (16), Pipeline (17), Contact (18), Terms of Use (174) and Privacy Policy
        (178). The Team page renders 14 staff biographies from a non-REST custom post type, so the
        individual biographies are not retrievable through this API; only the rendered page HTML in
        `content.rendered` contains them.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SearchColumns'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Status'
        - name: orderby
          in: query
          description: Sort collection by object attribute.
          schema:
            type: string
            enum: [author, date, id, include, modified, parent, relevance, slug, include_slugs, title, menu_order]
            default: date
        - name: parent
          in: query
          description: Limit result set to items with particular parent IDs.
          schema: { type: array, items: { type: integer } }
        - name: parent_exclude
          in: query
          description: Limit result set to all items except those of a particular parent ID.
          schema: { type: array, items: { type: integer } }
        - name: menu_order
          in: query
          description: Limit result set to posts with a specific menu_order value.
          schema: { type: integer }
      responses:
        '200':
          description: A collection of pages
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [6] }
            X-WP-TotalPages:
              description: Total number of pages available.
              schema: { type: integer, examples: [1] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Page' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/pages/{id}:
    get:
      tags: [pages]
      operationId: getPage
      summary: Get a single page
      description: >-
        Retrieves one corporate page by numeric ID. `content.rendered` carries the full page HTML —
        for id 17 (Pipeline) and id 16 (Team) this is the only machine-reachable form of the
        pipeline and leadership content.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
        - name: password
          in: query
          description: The password for the page if it is password protected.
          schema: { type: string }
      responses:
        '200':
          description: A page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Page' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/media:
    get:
      tags: [media]
      operationId: listMedia
      summary: List media library attachments
      description: >-
        Lists media attachments. This collection has a documented counting anomaly on this
        deployment: `X-WP-Total` consistently reports 43 and `X-WP-TotalPages` is computed from it,
        but the anonymous result set is always smaller than the requested page — observed
        2026-08-09 as 0 items for `per_page=1`, 2 for `per_page=5`, 7 for `per_page=10` and 26 for
        `per_page=100`. Roughly 17 attachments are counted by the header but filtered out of the
        anonymous response, so `X-WP-Total` must not be trusted as the retrievable item count and a
        client must page to exhaustion rather than relying on `X-WP-TotalPages`. Observed MIME types
        across the 26 retrievable items: 13 image/jpeg, 11 image/png, 1 video/mp4, 1 empty.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - name: media_type
          in: query
          description: Limit result set to attachments of a particular media type.
          schema: { type: string, enum: [image, video, text, application, audio] }
        - name: mime_type
          in: query
          description: Limit result set to attachments of a particular MIME type.
          schema: { type: string, examples: ['image/png'] }
      responses:
        '200':
          description: A collection of media attachments
          headers:
            X-WP-Total:
              description: >-
                Total reported by WordPress. Unreliable on this deployment — see the operation
                description.
              schema: { type: integer, examples: [43] }
            X-WP-TotalPages:
              description: Total number of pages available, computed from X-WP-Total.
              schema: { type: integer }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MediaItem' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/media/{id}:
    get:
      tags: [media]
      operationId: getMediaItem
      summary: Get a single media attachment
      description: >-
        Retrieves one attachment by numeric ID, including `source_url`, `filesize`, `mime_type` and
        the generated size variants under `media_details`. Id 181 is the site logo
        (Centrexion_LOGO_275px.png).
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A media attachment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaItem' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/categories:
    get:
      tags: [taxonomy]
      operationId: listCategories
      summary: List categories
      description: >-
        Lists category terms. Only the default `Uncategorized` term (id 1, count 1) exists on this
        deployment.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TermSlug'
        - name: orderby
          in: query
          description: Sort collection by term attribute.
          schema:
            type: string
            enum: [id, include, name, slug, include_slugs, term_group, description, count]
            default: name
        - name: hide_empty
          in: query
          description: Whether to hide terms not assigned to any posts.
          schema: { type: boolean, default: false }
        - name: parent
          in: query
          description: Limit result set to terms assigned to a specific parent.
          schema: { type: integer }
        - name: post
          in: query
          description: Limit result set to terms assigned to a specific post.
          schema: { type: integer }
      responses:
        '200':
          description: A collection of category terms
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [1] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/categories/{id}:
    get:
      tags: [taxonomy]
      operationId: getCategory
      summary: Get a single category
      description: Retrieves one category term by numeric ID.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A category term
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Term' }
        '404':
          $ref: '#/components/responses/TermNotFound'

  /wp/v2/tags:
    get:
      tags: [taxonomy]
      operationId: listTags
      summary: List tags
      description: >-
        Lists `post_tag` terms. The taxonomy is registered but empty on this deployment — the
        collection returns an empty array with `X-WP-Total: 0`.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TermSlug'
        - name: hide_empty
          in: query
          description: Whether to hide terms not assigned to any posts.
          schema: { type: boolean, default: false }
        - name: post
          in: query
          description: Limit result set to terms assigned to a specific post.
          schema: { type: integer }
      responses:
        '200':
          description: A collection of tag terms (empty on this deployment)
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [0] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }

  /wp/v2/post_series:
    get:
      tags: [taxonomy]
      operationId: listPostSeries
      summary: List post_series terms
      description: >-
        Lists terms in the `post_series` taxonomy registered against posts by a site plugin.
        Registered but empty on this deployment.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TermSlug'
      responses:
        '200':
          description: A collection of post_series terms (empty on this deployment)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }

  /wp/v2/comments:
    get:
      tags: [comments]
      operationId: listComments
      summary: List comments
      description: >-
        Lists approved comments. One item exists on this deployment — the default WordPress sample
        comment attached to the placeholder post. Comment objects carry `author_name`,
        `author_url` and `author_avatar_urls`, so this collection is personal data even when the
        single record is boilerplate.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - name: post
          in: query
          description: Limit result set to comments assigned to specific post IDs.
          schema: { type: array, items: { type: integer } }
        - name: parent
          in: query
          description: Limit result set to comments of specific parent IDs.
          schema: { type: array, items: { type: integer } }
      responses:
        '200':
          description: A collection of comments
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [1] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Comment' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/comments/{id}:
    get:
      tags: [comments]
      operationId: getComment
      summary: Get a single comment
      description: Retrieves one comment by numeric ID.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A comment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Comment' }
        '404':
          $ref: '#/components/responses/CommentNotFound'

  /wp/v2/search:
    get:
      tags: [search]
      operationId: search
      summary: Search across published content
      description: >-
        Cross-content search returning lightweight hits (`id`, `title`, `url`, `type`, `subtype`).
        Seven objects are searchable on this deployment — the 6 pages plus the placeholder post.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - name: type
          in: query
          description: Limit results to items of an object type.
          schema: { type: string, enum: [post, term, post-format], default: post }
        - name: subtype
          in: query
          description: Limit results to items of one or more object subtypes.
          schema: { type: array, items: { type: string }, default: [any] }
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          schema: { type: array, items: { type: integer } }
        - name: include
          in: query
          description: Limit result set to specific IDs.
          schema: { type: array, items: { type: integer } }
      responses:
        '200':
          description: Search results
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [7] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SearchResult' }

  /wp/v2/users:
    get:
      tags: [people]
      operationId: listUsers
      summary: List public author records
      description: >-
        Lists users who have authored published content. This deployment returns 2 records
        anonymously (`X-WP-Total: 2`), each carrying `name`, `slug`, `description`, `url`, `link`
        and `avatar_urls` — WordPress does not expose user email addresses on this route. This is
        the default WordPress behaviour rather than a Centrexion configuration choice, but it is
        personal data about identifiable people, so API Evangelist records the endpoint's existence
        and shape and deliberately does NOT reproduce any individual record, and does not package it
        as an Agent Skill. See skills/_index.yml for the recorded exclusion.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/TermSlug'
      responses:
        '200':
          description: A collection of author records
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema: { type: integer, examples: [2] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }

  /wp/v2/navigation:
    get:
      tags: [discovery]
      operationId: listNavigation
      summary: List navigation menu objects
      description: >-
        Lists `wp_navigation` post objects. One published object exists on this deployment (id 4,
        slug `navigation`).
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A collection of navigation objects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Navigation' }

  /wp/v2/navigation/{id}:
    get:
      tags: [discovery]
      operationId: getNavigation
      summary: Get a single navigation object
      description: Retrieves one navigation object by numeric ID. Its `content.rendered` holds the serialized menu blocks.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A navigation object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Navigation' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/blocks:
    get:
      tags: [custom-types]
      operationId: listReusableBlocks
      summary: List reusable blocks (patterns)
      description: Lists `wp_block` reusable pattern objects. Empty on this deployment.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A collection of reusable blocks (empty on this deployment)
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /wp/v2/wpex_templates:
    get:
      tags: [custom-types]
      operationId: listDynamicTemplates
      summary: List theme Dynamic Templates
      description: >-
        Lists the theme's `wpex_templates` (Dynamic Templates) custom post type. Registered and
        anonymously reachable, but reports zero published items.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A collection of dynamic templates (empty on this deployment)
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /wp/v2/wpex_card:
    get:
      tags: [custom-types]
      operationId: listCustomCards
      summary: List theme Custom Cards
      description: >-
        Lists the theme's `wpex_card` (Custom Cards) custom post type. Registered and anonymously
        reachable, but reports zero published items.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A collection of custom cards (empty on this deployment)
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /wp/v2/types:
    get:
      tags: [discovery]
      operationId: listPostTypes
      summary: List registered post types
      description: >-
        Returns the registered post types visible to the caller. Anonymously this deployment returns
        13: post, page, attachment, nav_menu_item, wp_block, wp_template, wp_template_part,
        wp_global_styles, wp_navigation, wp_font_family, wp_font_face, wpex_templates and
        wpex_card. The staff biography custom post type behind the Team page is absent — it is not
        REST-enabled.
      parameters:
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of post types keyed by type slug
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { $ref: '#/components/schemas/PostType' }

  /wp/v2/types/{type}:
    get:
      tags: [discovery]
      operationId: getPostType
      summary: Get a single post type
      description: Retrieves the registration record for one post type.
      parameters:
        - name: type
          in: path
          required: true
          description: An alphanumeric identifier for the post type.
          schema: { type: string, examples: ['page'] }
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PostType' }
        '404':
          $ref: '#/components/responses/TypeNotFound'

  /wp/v2/taxonomies:
    get:
      tags: [discovery]
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: >-
        Returns the registered taxonomies. Anonymously this deployment returns 5: category,
        post_tag, nav_menu, wp_pattern_category and post_series.
      parameters:
        - $ref: '#/components/parameters/Context'
        - name: type
          in: query
          description: Limit results to taxonomies associated with a specific post type.
          schema: { type: string }
      responses:
        '200':
          description: A map of taxonomies keyed by taxonomy slug
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { $ref: '#/components/schemas/Taxonomy' }

  /wp/v2/taxonomies/{taxonomy}:
    get:
      tags: [discovery]
      operationId: getTaxonomy
      summary: Get a single taxonomy
      description: Retrieves the registration record for one taxonomy.
      parameters:
        - name: taxonomy
          in: path
          required: true
          description: An alphanumeric identifier for the taxonomy.
          schema: { type: string, examples: ['category'] }
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A taxonomy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Taxonomy' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/statuses:
    get:
      tags: [discovery]
      operationId: listStatuses
      summary: List post statuses
      description: >-
        Returns the post statuses visible to the caller. Anonymously this deployment returns only
        `publish`.
      parameters:
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of post statuses
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { type: object }

  /wp/v2/statuses/{status}:
    get:
      tags: [discovery]
      operationId: getStatus
      summary: Get a single post status
      description: >-
        Retrieves one post status. Anonymously only `publish` is readable; any other registered
        status returns 401 `rest_cannot_read_status`.
      parameters:
        - name: status
          in: path
          required: true
          description: An alphanumeric identifier for the status.
          schema: { type: string, examples: ['publish'] }
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post status
          content:
            application/json:
              schema: { type: object }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /oembed/1.0/embed:
    get:
      tags: [oembed]
      operationId: getOembed
      summary: Get an oEmbed response for a centrexion.com URL
      description: >-
        The oEmbed 1.0 provider endpoint. Returns provider name, title, author, and an iframe embed
        for any URL on centrexion.com. A URL outside the site returns 404 `oembed_invalid_url`.
      parameters:
        - name: url
          in: query
          required: true
          description: The URL of the resource for which to fetch oEmbed data.
          schema: { type: string, format: uri, examples: ['https://centrexion.com/pipeline/'] }
        - name: format
          in: query
          description: The oEmbed format to use.
          schema: { type: string, enum: [json, xml], default: json }
        - name: maxwidth
          in: query
          description: The maximum width of the embed frame in pixels.
          schema: { type: integer, default: 600 }
      responses:
        '200':
          description: An oEmbed 1.0 response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Oembed' }
        '404':
          $ref: '#/components/responses/OembedNotFound'

components:
  parameters:
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema: { type: string, enum: [view, embed, edit], default: view }
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      description: >-
        Maximum number of items to be returned in the result set. Values above 100 return 400
        rest_invalid_param.
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema: { type: string }
    SearchColumns:
      name: search_columns
      in: query
      description: Array of column names to be searched.
      schema: { type: array, items: { type: string, enum: [post_title, post_content, post_excerpt] } }
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema: { type: array, items: { type: integer } }
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema: { type: array, items: { type: integer } }
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema: { type: integer }
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema: { type: string, enum: [asc, desc], default: desc }
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema: { type: array, items: { type: string } }
    TermSlug:
      name: slug
      in: query
      description: Limit result set to terms or users with one or more specific slugs.
      schema: { type: array, items: { type: string } }
    Status:
      name: status
      in: query
      description: >-
        Limit result set to items assigned one or more statuses. Anonymously only `publish` is
        permitted; any other value returns 400 rest_invalid_param.
      schema: { type: array, items: { type: string }, default: [publish] }
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema: { type: integer }

  responses:
    BadRequest:
      description: Invalid parameter — code `rest_invalid_param`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Object not found — code `rest_post_invalid_id`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TermNotFound:
      description: Term does not exist — code `rest_term_invalid`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    CommentNotFound:
      description: Invalid comment ID — code `rest_comment_invalid_id`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TypeNotFound:
      description: Invalid post type — code `rest_type_invalid`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    OembedNotFound:
      description: URL is not on this site — code `oembed_invalid_url`
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication required for this resource or field
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    RenderedText:
      type: object
      description: WordPress rendered-text object.
      properties:
        rendered: { type: string, description: HTML for the object, transformed for display. }
        protected: { type: boolean, description: Whether the content is protected with a password. }
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      required: [code, message, data]
      properties:
        code: { type: string, description: Machine-readable error code., examples: ['rest_post_invalid_id'] }
        message: { type: string, description: Human-readable error message., examples: ['Invalid post ID.'] }
        data:
          type: object
          properties:
            status: { type: integer, description: The HTTP status code., examples: [404] }
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties: { type: string }
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties: { type: object }
    Post:
      type: object
      description: >-
        A post. Field set observed on this deployment, including the All in One SEO
        `aioseo_notices` extension.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string, examples: ['publish'] }
        type: { type: string, examples: ['post'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
        excerpt: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer, description: The ID for the author of the post. }
        featured_media: { type: integer, description: The ID of the featured media attachment. }
        comment_status: { type: string, enum: [open, closed] }
        ping_status: { type: string, enum: [open, closed] }
        sticky: { type: boolean }
        template: { type: string }
        format: { type: string }
        meta: { type: object }
        categories: { type: array, items: { type: integer } }
        tags: { type: array, items: { type: integer } }
        post_series: { type: array, items: { type: integer }, description: Terms from the post_series taxonomy. }
        class_list: { type: array, items: { type: string } }
        aioseo_notices: { type: array, items: { type: string }, description: All in One SEO plugin notices. }
        _links: { type: object, description: HAL-style link relations to author, replies, terms and self. }
    Page:
      type: object
      description: A corporate page.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string }
        type: { type: string, examples: ['page'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
        excerpt: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer }
        featured_media: { type: integer }
        parent: { type: integer }
        menu_order: { type: integer }
        comment_status: { type: string }
        ping_status: { type: string }
        template: { type: string }
        meta: { type: object }
        class_list: { type: array, items: { type: string } }
        aioseo_notices: { type: array, items: { type: string } }
        _links: { type: object }
    MediaItem:
      type: object
      description: A media library attachment.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string }
        type: { type: string, examples: ['attachment'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer }
        comment_status: { type: string }
        ping_status: { type: string }
        template: { type: string }
        meta: { type: object }
        alt_text: { type: string }
        caption: { $ref: '#/components/schemas/RenderedText' }
        description: { $ref: '#/components/schemas/RenderedText' }
        media_type: { type: string, enum: [image, file] }
        mime_type: { type: string }
        media_details: { type: object, description: Width, height, file, filesize and the generated size variants. }
        post: { anyOf: [{ type: integer }, { type: 'null' }], description: The ID for the associated post. }
        source_url: { type: string, format: uri, description: Direct URL to the original file. }
        filename: { type: string }
        filesize: { type: integer }
        featured_media: { type: integer }
        class_list: { type: array, items: { type: string } }
        aioseo_notices: { type: array, items: { type: string } }
        _links: { type: object }
    Term:
      type: object
      description: A taxonomy term (category, tag or post_series).
      properties:
        id: { type: integer }
        count: { type: integer, description: Number of published posts assigned to the term. }
        description: { type: string }
        link: { type: string, format: uri }
        name: { type: string, examples: ['Uncategorized'] }
        slug: { type: string, examples: ['uncategorized'] }
        taxonomy: { type: string, examples: ['category'] }
        parent: { type: integer }
        meta: { type: object }
        _links: { type: object }
    Comment:
      type: object
      description: >-
        A comment. Carries commenter-supplied personal data (`author_name`, `author_url`,
        `author_avatar_urls`).
      properties:
        id: { type: integer }
        post: { type: integer, description: The ID of the associated post. }
        parent: { type: integer }
        author: { type: integer, description: The ID of the user object, if author was a user. }
        author_name: { type: string, description: Display name for the comment author. Personal data. }
        author_url: { type: string, format: uri, description: URL for the comment author. Personal data. }
        author_avatar_urls: { type: object, description: Avatar URLs keyed by size. Personal data. }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        content: { $ref: '#/components/schemas/RenderedText' }
        link: { type: string, format: uri }
        status: { type: string, examples: ['approved'] }
        type: { type: string, examples: ['comment'] }
        meta: { type: object }
        _links: { type: object }
    User:
      type: object
      description: >-
        A public author record. Personal data — API Evangelist documents the shape but reproduces no
        individual record. WordPress does not expose email addresses on this route.
      properties:
        id: { type: integer }
        name: { type: string, description: Display name for the user. Personal data. }
        slug: { type: string, description: Alphanumeric identifier, derived from the display name. Personal data. }
        description: { type: string, description: Author biography. }
        url: { type: string, format: uri }
        link: { type: string, format: uri, description: Author archive URL. }
        avatar_urls: { type: object, description: Avatar URLs keyed by size. }
        meta: { type: object }
        _links: { type: object }
    Navigation:
      type: object
      description: A wp_navigation object holding the serialized site menu.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        modified: { type: string, format: date-time }
        slug: { type: string, examples: ['navigation'] }
        status: { type: string }
        type: { type: string, examples: ['wp_navigation'] }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
        template: { type: string }
        _links: { type: object }
    SearchResult:
      type: object
      description: A lightweight cross-content search hit.
      properties:
        id: { type: integer }
        title: { type: string }
        url: { type: string, format: uri }
        type: { type: string, examples: ['post'] }
        subtype: { type: string, examples: ['page'] }
        _links: { type: object }
    PostType:
      type: object
      description: A registered post type.
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        hierarchical: { type: boolean }
        has_archive: { anyOf: [{ type: boolean }, { type: string }] }
        icon: { anyOf: [{ type: string }, { type: 'null' }] }
        taxonomies: { type: array, items: { type: string } }
        rest_base: { type: string }
        rest_namespace: { type: string }
        _links: { type: object }
    Taxonomy:
      type: object
      description: A registered taxonomy.
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        types: { type: array, items: { type: string } }
        hierarchical: { type: boolean }
        rest_base: { type: string }
        rest_namespace: { type: string }
        _links: { type: object }
    Oembed:
      type: object
      description: An oEmbed 1.0 rich response.
      properties:
        version: { type: string, examples: ['1.0'] }
        provider_name: { type: string, examples: ['Centrexion Therapeutics'] }
        provider_url: { type: string, format: uri }
        author_name: { type: string }
        author_url: { type: string, format: uri }
        title: { type: string }
        type: { type: string, examples: ['rich'] }
        width: { type: integer }
        height: { type: integer }
        html: { type: string, description: The iframe embed markup. }
    ApiIndex:
      type: object
      description: The REST API site index.
      properties:
        name: { type: string, examples: ['Centrexion Therapeutics'] }
        description: { type: string, examples: ['Solving unmet needs with a proven track record.'] }
        url: { type: string, format: uri }
        home: { type: string, format: uri }
        gmt_offset: { type: number, examples: [-4] }
        timezone_string: { type: string, examples: ['America/New_York'] }
        namespaces: { type: array, items: { type: string } }
        authentication:
          type: object
          description: >-
            Registered authentication methods. This deployment advertises WordPress application
            passwords, with the authorization endpoint at /wp-admin/authorize-application.php.
        routes: { type: object, description: The full route table keyed by route pattern. }
        site_logo: { type: integer, examples: [181] }
        site_icon: { type: integer, examples: [189] }
        site_icon_url: { type: string, format: uri }
        _links: { type: object }
